#include <behaviors.dtsi>

/ {
    keymap {
        compatible = "zmk,keymap";

	default_layer {
            bindings = <
                &kp KP_ASTERISK  &kp ENTER   &kp I
                &kp E            &kp T       &kp K
	    >;
	};
    };
};