# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DAW_LEFT

config ZMK_KEYBOARD_NAME
	default "Daw"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_DAW_LEFT || SHIELD_DAW_RIGHT

config ZMK_SPLIT
	default y

endif